<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.security.mapper.TInspectTitleTeamMapper">
    
    <resultMap type="com.project.security.domain.TInspectTitleTeam" id="TInspectTitleTeamResult">
        <result property="titleId"    column="title_id"    />
        <result property="checkTeam"    column="check_team"    />
    </resultMap>
	
	<sql id="selectTInspectTitleTeambasicColums">
        select itt.title_id, itt.check_team    </sql>
	
    <select id="selectTInspectTitleTeamList" parameterType="com.project.security.domain.TInspectTitleTeam" resultMap="TInspectTitleTeamResult">
        <include refid="selectTInspectTitleTeambasicColums"/>
        from t_inspect_title_team itt
        <where>  
            <if test="titleId != null  and titleId != '' "> and itt.title_id = #{titleId}</if>
             <if test="checkTeam != null  and checkTeam != '' "> and itt.check_team = #{checkTeam}</if>
         </where>
    </select>
    
    <select id="selectTInspectTitleTeamById" parameterType="String" resultMap="TInspectTitleTeamResult">
        <include refid="selectTInspectTitleTeambasicColums"/>
        from t_inspect_title_team itt
        where itt.title_id = #{titleId}
    </select>
        
    <insert id="insertTInspectTitleTeam" parameterType="com.project.security.domain.TInspectTitleTeam">
        insert into t_inspect_title_team
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="titleId != null  and titleId != ''  ">title_id,</if>
			<if test="checkTeam != null  and checkTeam != ''  ">check_team,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="titleId != null  and titleId != ''  ">#{titleId},</if>
			<if test="checkTeam != null  and checkTeam != ''  ">#{checkTeam},</if>
         </trim>
    </insert>
	 
    <update id="updateTInspectTitleTeam" parameterType="com.project.security.domain.TInspectTitleTeam">
        update t_inspect_title_team
        <trim prefix="SET" suffixOverrides=",">
            <if test="checkTeam != null  and checkTeam != ''  ">check_team = #{checkTeam},</if>
        </trim>
        where title_id = #{titleId}
    </update>

	<delete id="deleteTInspectTitleTeamById" parameterType="String">
        delete from t_inspect_title_team where title_id = #{titleId}
    </delete>
	
    <delete id="deleteTInspectTitleTeamByIds" parameterType="String">
        delete from t_inspect_title_team where title_id in 
        <foreach item="titleId" collection="array" open="(" separator="," close=")">
            #{titleId}
        </foreach>
    </delete>
    <!-- 以上是自动生成的代码尽量别动 -->
    
</mapper>