<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.security.mapper.TUserMessageMapper">
    
    <resultMap type="com.project.security.domain.TUserMessage" id="TUserMessageResult">
        <result property="id"    column="id"    />
        <result property="messageId"    column="message_id"    />
        <result property="userId"    column="user_id"    />
        <result property="isRead"    column="is_read"    />
        <result property="addUserId"    column="add_user_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="updateUserId"    column="update_user_id"    />
    </resultMap>
	
	<sql id="selectTUserMessagebasicColums">
        select um.id, um.message_id, um.user_id, um.is_read, um.add_user_id, um.create_date, um.update_date, um.update_user_id    </sql>
	
    <select id="selectTUserMessageList" parameterType="com.project.security.domain.TUserMessage" resultMap="TUserMessageResult">
        <include refid="selectTUserMessagebasicColums"/>
        from t_user_message um
        <where>  
            <if test="id != null  and id != '' "> and um.id = #{id}</if>
             <if test="messageId != null  and messageId != '' "> and um.message_id = #{messageId}</if>
             <if test="userId != null  and userId != '' "> and um.user_id = #{userId}</if>
             <if test="isRead != null  and isRead != '' "> and um.is_read = #{isRead}</if>
             <if test="addUserId != null  and addUserId != '' "> and um.add_user_id = #{addUserId}</if>
             <if test="createDate != null "> and um.create_date = #{createDate}</if>
             <if test="updateDate != null "> and um.update_date = #{updateDate}</if>
             <if test="updateUserId != null  and updateUserId != '' "> and um.update_user_id = #{updateUserId}</if>
         </where>
    </select>
    
    <select id="selectTUserMessageById" parameterType="String" resultMap="TUserMessageResult">
        <include refid="selectTUserMessagebasicColums"/>
        from t_user_message um
        where um.id = #{id}
    </select>
        
    <insert id="insertTUserMessage" parameterType="com.project.security.domain.TUserMessage">
        insert into t_user_message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="messageId != null  and messageId != ''  ">message_id,</if>
			<if test="userId != null  and userId != ''  ">user_id,</if>
			<if test="isRead != null  and isRead != ''  ">is_read,</if>
			<if test="addUserId != null  and addUserId != ''  ">add_user_id,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="updateUserId != null  and updateUserId != ''  ">update_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="messageId != null  and messageId != ''  ">#{messageId},</if>
			<if test="userId != null  and userId != ''  ">#{userId},</if>
			<if test="isRead != null  and isRead != ''  ">#{isRead},</if>
			<if test="addUserId != null  and addUserId != ''  ">#{addUserId},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="updateUserId != null  and updateUserId != ''  ">#{updateUserId},</if>
         </trim>
    </insert>
	 
    <update id="updateTUserMessage" parameterType="com.project.security.domain.TUserMessage">
        update t_user_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="messageId != null  and messageId != ''  ">message_id = #{messageId},</if>
            <if test="userId != null  and userId != ''  ">user_id = #{userId},</if>
            <if test="isRead != null  and isRead != ''  ">is_read = #{isRead},</if>
            <if test="addUserId != null  and addUserId != ''  ">add_user_id = #{addUserId},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="updateUserId != null  and updateUserId != ''  ">update_user_id = #{updateUserId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTUserMessageById" parameterType="String">
        delete from t_user_message where id = #{id}
    </delete>
	
    <delete id="deleteTUserMessageByIds" parameterType="String">
        delete from t_user_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 以上是自动生成的代码尽量别动 -->
    <resultMap type="com.project.security.domain.vo.TUserMessageVo" id="TUserMessageVoResult">
        <result property="id"    column="id"    />
        <result property="messageId"    column="message_id"    />
        <result property="userId"    column="user_id"    />
        <result property="isRead"    column="is_read"    />
        <result property="addUserId"    column="add_user_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="title"    column="title"    />
        <result property="context"    column="context"    />
        <result property="messageType"    column="message_type"    />
    </resultMap>
    
    <select id="selectTUserMessageVos" parameterType="com.project.security.domain.TUserMessage" resultMap="TUserMessageVoResult">
    	<include refid="selectTUserMessagebasicColums"/>,
    	m.title, m.context, m.message_type
        from t_user_message um
        join t_message m on m.id = um.message_id
        <where>  
            <if test="id != null  and id != '' "> and um.id = #{id}</if>
             <if test="messageId != null  and messageId != '' "> and um.message_id = #{messageId}</if>
             <if test="userId != null  and userId != '' "> and um.user_id = #{userId}</if>
             <if test="isRead != null  and isRead != '' "> and um.is_read = #{isRead}</if>
             <if test="addUserId != null  and addUserId != '' "> and um.add_user_id = #{addUserId}</if>
             <if test="createDate != null "> and um.create_date = #{createDate}</if>
             <if test="updateDate != null "> and um.update_date = #{updateDate}</if>
             <if test="updateUserId != null  and updateUserId != '' "> and um.update_user_id = #{updateUserId}</if>
         </where>
    </select>
    
    <update id="updateTUserMessageByWhere" parameterType="com.project.security.domain.TUserMessage">
    	update t_user_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="isRead != null  and isRead != ''  ">is_read = #{isRead},</if>
            <if test="addUserId != null  and addUserId != ''  ">add_user_id = #{addUserId},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="updateUserId != null  and updateUserId != ''  ">update_user_id = #{updateUserId},</if>
        </trim>
        where 1=1
		<if test="messageId != null  and messageId != ''  "> and message_id = #{messageId}</if>
        <if test="userId != null  and userId != ''  ">and user_id = #{userId}</if>
    </update>
    
</mapper>