<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.web.mapper.TCarKmMapper">
    
    <resultMap type="com.project.web.domian.TCarKm" id="TCarKmResult">
        <result property="id"    column="id"    />
        <result property="carId"    column="car_id"    />
        <result property="monthKm"    column="month_km"    />
        <result property="totalKm"    column="total_km"    />
        <result property="addUserId"    column="add_user_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="updateUserId"    column="update_user_id"    />
    </resultMap>
	
	<sql id="selectTCarKmbasicColums">
        select ck.id, ck.car_id, ck.month_km, ck.total_km, ck.add_user_id, ck.create_date, ck.update_date, ck.update_user_id,
        DATE_FORMAT(ck.create_date,'%Y-%m-%d') as createDateStr

        from t_car_km ck
    </sql>
	
    <select id="selectTCarKmList" parameterType="com.project.web.domian.TCarKm" resultMap="TCarKmResult">
        <include refid="selectTCarKmbasicColums"/>
        <where>  
            <if test="id != null  and id != '' "> and ck.id = #{id}</if>
             <if test="carId != null  and carId != '' "> and ck.car_id = #{carId}</if>
             <if test="monthKm != null  and monthKm != '' "> and ck.month_km = #{monthKm}</if>
             <if test="totalKm != null  and totalKm != '' "> and ck.total_km = #{totalKm}</if>
             <if test="addUserId != null  and addUserId != '' "> and ck.add_user_id = #{addUserId}</if>


            <if test="createDate != null  and createDate1 == null "> and DATE_FORMAT(ck.create_date,'%Y%m%d') &gt;= DATE_FORMAT(#{createDate},'%Y%m%d')</if>
            <if test="createDate1 != null  and createDate == null "> and DATE_FORMAT(ck.create_date,'%Y%m%d') &lt;= DATE_FORMAT(#{createDate1},'%Y%m%d')</if>
            <if test="createDate1 != null  and createDate != null "> and DATE_FORMAT(ck.create_date,'%Y%m%d') &gt;= DATE_FORMAT(#{createDate},'%Y%m%d')
                and   DATE_FORMAT(ck.create_date,'%Y%m%d') &lt;=  DATE_FORMAT(#{createDate1},'%Y%m%d')
            </if>
            
            
             <if test="updateDate != null "> and ck.update_date = #{updateDate}</if>
             <if test="updateUserId != null  and updateUserId != '' "> and ck.update_user_id = #{updateUserId}</if>
         </where>
    </select>
    
    <select id="selectTCarKmById" parameterType="String" resultMap="TCarKmResult">
        <include refid="selectTCarKmbasicColums"/>
        where ck.id = #{id}
    </select>
        
    <insert id="insertTCarKm" parameterType="com.project.web.domian.TCarKm">
        insert into t_car_km
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="carId != null  and carId != ''  ">car_id,</if>
			<if test="monthKm != null  and monthKm != ''  ">month_km,</if>
			<if test="totalKm != null  and totalKm != ''  ">total_km,</if>
			<if test="addUserId != null  and addUserId != ''  ">add_user_id,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="updateUserId != null  and updateUserId != ''  ">update_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="carId != null  and carId != ''  ">#{carId},</if>
			<if test="monthKm != null  and monthKm != ''  ">#{monthKm},</if>
			<if test="totalKm != null  and totalKm != ''  ">#{totalKm},</if>
			<if test="addUserId != null  and addUserId != ''  ">#{addUserId},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="updateUserId != null  and updateUserId != ''  ">#{updateUserId},</if>
         </trim>
    </insert>
	 
    <update id="updateTCarKm" parameterType="com.project.web.domian.TCarKm">
        update t_car_km
        <trim prefix="SET" suffixOverrides=",">
            <if test="carId != null  and carId != ''  ">car_id = #{carId},</if>
            <if test="monthKm != null  and monthKm != ''  ">month_km = #{monthKm},</if>
            <if test="totalKm != null  and totalKm != ''  ">total_km = #{totalKm},</if>
            <if test="addUserId != null  and addUserId != ''  ">add_user_id = #{addUserId},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="updateUserId != null  and updateUserId != ''  ">update_user_id = #{updateUserId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTCarKmById" parameterType="String">
        delete from t_car_km where id = #{id}
    </delete>
	
    <delete id="deleteTCarKmByIds" parameterType="String">
        delete from t_car_km where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 以上是自动生成的代码尽量别动 -->

    <delete id="deleteByCarInfoId" parameterType="String">
        delete from t_car_km where car_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>