<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.web.mapper.TCheckPlanMapper">
    
    <resultMap type="TCheckPlan" id="TCheckPlanResult">
        <result property="id"    column="id"    />
        <result property="planTitle"    column="plan_title"    />
        <result property="checkType"    column="check_type"    />
        <result property="checkYear"    column="check_year"    />
        <result property="deptId"    column="dept_id"    />
        <result property="palnCheckDate"    column="paln_check_date"    />
        <result property="personLiableId"    column="person_liable_id"    />
        <result property="personLiableName"    column="person_liable_name"    />
        <result property="checkTeam"    column="check_team"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userId"    column="user_id"    />
        <result property="meno"    column="meno"    />
        <result property="businessId"    column="business_id"    />
        <result property="updateUserId"    column="update_user_id"    />
    </resultMap>
	
	<sql id="selectTCheckPlanVo">
        select cp.id, cp.plan_title, cp.check_type, cp.check_year, cp.dept_id, cp.paln_check_date, cp.person_liable_id, cp.person_liable_name, cp.check_team, cp.check_status, cp.remark, cp.create_time, cp.update_time, cp.user_id, cp.meno, cp.business_id, cp.update_user_id from t_check_plan cp
    </sql>
	
    <select id="selectTCheckPlanList" parameterType="TCheckPlan" resultMap="TCheckPlanResult">
        <include refid="selectTCheckPlanVo"/>
        <where>  
            <if test="id != null  and id != '' "> and cp.id = #{id}</if>
             <if test="planTitle != null  and planTitle != '' "> and cp.plan_title = #{planTitle}</if>
             <if test="checkType != null  and checkType != '' "> and cp.check_type = #{checkType}</if>
             <if test="checkYear != null  and checkYear != '' "> and cp.check_year = #{checkYear}</if>
             <if test="deptId != null  and deptId != '' "> and cp.dept_id = #{deptId}</if>
             <if test="palnCheckDate != null "> and cp.paln_check_date = #{palnCheckDate}</if>
             <if test="personLiableId != null "> and cp.person_liable_id = #{personLiableId}</if>
             <if test="personLiableName != null  and personLiableName != '' "> and cp.person_liable_name = #{personLiableName}</if>
             <if test="checkTeam != null  and checkTeam != '' "> and cp.check_team = #{checkTeam}</if>
             <if test="checkStatus != null  and checkStatus != '' "> and cp.check_status = #{checkStatus}</if>
             <if test="remark != null  and remark != '' "> and cp.remark = #{remark}</if>
             <if test="createTime != null "> and cp.create_time = #{createTime}</if>
             <if test="updateTime != null "> and cp.update_time = #{updateTime}</if>
             <if test="userId != null "> and cp.user_id = #{userId}</if>
             <if test="meno != null  and meno != '' "> and cp.meno = #{meno}</if>
             <if test="businessId != null  and businessId != '' "> and cp.business_id = #{businessId}</if>
             <if test="updateUserId != null "> and cp.update_user_id = #{updateUserId}</if>
         </where>
    </select>
    
    <select id="selectTCheckPlanById" parameterType="String" resultMap="TCheckPlanResult">
        <include refid="selectTCheckPlanVo"/>
        where cp.id = #{id}
    </select>
        
    <insert id="insertTCheckPlan" parameterType="TCheckPlan">
        insert into t_check_plan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="planTitle != null  and planTitle != ''  ">plan_title,</if>
			<if test="checkType != null  and checkType != ''  ">check_type,</if>
			<if test="checkYear != null  and checkYear != ''  ">check_year,</if>
			<if test="deptId != null  and deptId != ''  ">dept_id,</if>
			<if test="palnCheckDate != null  ">paln_check_date,</if>
			<if test="personLiableId != null  ">person_liable_id,</if>
			<if test="personLiableName != null  and personLiableName != ''  ">person_liable_name,</if>
			<if test="checkTeam != null  and checkTeam != ''  ">check_team,</if>
			<if test="checkStatus != null  and checkStatus != ''  ">check_status,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="meno != null  and meno != ''  ">meno,</if>
			<if test="businessId != null  and businessId != ''  ">business_id,</if>
			<if test="updateUserId != null  ">update_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="planTitle != null  and planTitle != ''  ">#{planTitle},</if>
			<if test="checkType != null  and checkType != ''  ">#{checkType},</if>
			<if test="checkYear != null  and checkYear != ''  ">#{checkYear},</if>
			<if test="deptId != null  and deptId != ''  ">#{deptId},</if>
			<if test="palnCheckDate != null  ">#{palnCheckDate},</if>
			<if test="personLiableId != null  ">#{personLiableId},</if>
			<if test="personLiableName != null  and personLiableName != ''  ">#{personLiableName},</if>
			<if test="checkTeam != null  and checkTeam != ''  ">#{checkTeam},</if>
			<if test="checkStatus != null  and checkStatus != ''  ">#{checkStatus},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="meno != null  and meno != ''  ">#{meno},</if>
			<if test="businessId != null  and businessId != ''  ">#{businessId},</if>
			<if test="updateUserId != null  ">#{updateUserId},</if>
         </trim>
    </insert>
	 
    <update id="updateTCheckPlan" parameterType="TCheckPlan">
        update t_check_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="planTitle != null  and planTitle != ''  ">plan_title = #{planTitle},</if>
            <if test="checkType != null  and checkType != ''  ">check_type = #{checkType},</if>
            <if test="checkYear != null  and checkYear != ''  ">check_year = #{checkYear},</if>
            <if test="deptId != null  and deptId != ''  ">dept_id = #{deptId},</if>
            <if test="palnCheckDate != null  ">paln_check_date = #{palnCheckDate},</if>
            <if test="personLiableId != null  ">person_liable_id = #{personLiableId},</if>
            <if test="personLiableName != null  and personLiableName != ''  ">person_liable_name = #{personLiableName},</if>
            <if test="checkTeam != null  and checkTeam != ''  ">check_team = #{checkTeam},</if>
            <if test="checkStatus != null  and checkStatus != ''  ">check_status = #{checkStatus},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="meno != null  and meno != ''  ">meno = #{meno},</if>
            <if test="businessId != null  and businessId != ''  ">business_id = #{businessId},</if>
            <if test="updateUserId != null  ">update_user_id = #{updateUserId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTCheckPlanById" parameterType="String">
        delete from t_check_plan where id = #{id}
    </delete>
	
    <delete id="deleteTCheckPlanByIds" parameterType="String">
        delete from t_check_plan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>