<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.web.mapper.TCourseMapper">
    
    <resultMap type="com.project.web.domian.TCourse" id="TCourseResult">
        <result property="id"    column="id"    />
        <result property="trainingType"    column="training_type"    />
        <result property="courseType"    column="course_type"    />
        <result property="courseUrl"    column="course_url"    />
        <result property="videoUrl"    column="video_url"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="courseName"    column="course_name"    />
        <result property="businessType"    column="business_type"    />
        <result property="majorType"    column="major_type"    />
        <result property="isTiming"    column="is_timing"    />
        <result property="isCharge"    column="is_charge"    />
        <result property="price"    column="price"    />
        <result property="previewTimes"    column="preview_times"    />
        <result property="watchTimes"    column="watch_times"    />
        <result property="introduction"    column="introduction"    />
        <result property="courseSource"    column="course_source"    />
        <result property="businessId"    column="business_id"    />
        <result property="status"    column="status"    />
        <result property="addUserId"    column="add_user_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="updateUserId"    column="update_user_id"    />
    </resultMap>
	
	<sql id="selectTCoursebasicColums">
        select c.id, c.training_type, c.course_type, c.course_url, c.video_url, c.file_url, c.course_name, c.business_type, c.major_type, c.is_timing, c.is_charge, c.price, c.preview_times, c.watch_times, c.introduction, c.course_source, c.business_id, c.status, c.add_user_id, c.create_date, c.update_date, c.update_user_id    </sql>
	
    <select id="selectTCourseList" parameterType="com.project.web.domian.TCourse" resultMap="TCourseResult">
        <include refid="selectTCoursebasicColums"/>
        from t_course c
        <where>  
            <if test="id != null  and id != '' "> and c.id = #{id}</if>
             <if test="trainingType != null  and trainingType != '' "> and c.training_type = #{trainingType}</if>
             <if test="courseType != null  and courseType != '' "> and c.course_type = #{courseType}</if>
             <if test="courseUrl != null  and courseUrl != '' "> and c.course_url = #{courseUrl}</if>
             <if test="videoUrl != null  and videoUrl != '' "> and c.video_url = #{videoUrl}</if>
             <if test="fileUrl != null  and fileUrl != '' "> and c.file_url = #{fileUrl}</if>
             <if test="courseName != null  and courseName != '' "> and c.course_name = #{courseName}</if>
             <if test="businessType != null  and businessType != '' "> and c.business_type = #{businessType}</if>
             <if test="majorType != null  and majorType != '' "> and c.major_type = #{majorType}</if>
             <if test="isTiming != null  and isTiming != '' "> and c.is_timing = #{isTiming}</if>
             <if test="isCharge != null  and isCharge != '' "> and c.is_charge = #{isCharge}</if>
             <if test="price != null "> and c.price = #{price}</if>
             <if test="previewTimes != null "> and c.preview_times = #{previewTimes}</if>
             <if test="watchTimes != null "> and c.watch_times = #{watchTimes}</if>
             <if test="introduction != null  and introduction != '' "> and c.introduction = #{introduction}</if>
             <if test="courseSource != null  and courseSource != '' "> and c.course_source = #{courseSource}</if>
             <if test="businessId != null  and businessId != '' "> and c.business_id = #{businessId}</if>
             <if test="status != null  and status != '' "> and c.status = #{status}</if>
             <if test="addUserId != null  and addUserId != '' "> and c.add_user_id = #{addUserId}</if>
             <if test="createDate != null "> and c.create_date = #{createDate}</if>
             <if test="updateDate != null "> and c.update_date = #{updateDate}</if>
             <if test="updateUserId != null  and updateUserId != '' "> and c.update_user_id = #{updateUserId}</if>
         </where>
    </select>
    
    <select id="selectTCourseById" parameterType="String" resultMap="TCourseResult">
        <include refid="selectTCoursebasicColums"/>
        from t_course c
        where c.id = #{id}
    </select>
        
    <insert id="insertTCourse" parameterType="com.project.web.domian.TCourse">
        insert into t_course
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="trainingType != null  and trainingType != ''  ">training_type,</if>
			<if test="courseType != null  and courseType != ''  ">course_type,</if>
			<if test="courseUrl != null  and courseUrl != ''  ">course_url,</if>
			<if test="videoUrl != null  and videoUrl != ''  ">video_url,</if>
			<if test="fileUrl != null  and fileUrl != ''  ">file_url,</if>
			<if test="courseName != null  and courseName != ''  ">course_name,</if>
			<if test="businessType != null  and businessType != ''  ">business_type,</if>
			<if test="majorType != null  and majorType != ''  ">major_type,</if>
			<if test="isTiming != null  and isTiming != ''  ">is_timing,</if>
			<if test="isCharge != null  and isCharge != ''  ">is_charge,</if>
			<if test="price != null  ">price,</if>
			<if test="previewTimes != null  ">preview_times,</if>
			<if test="watchTimes != null  ">watch_times,</if>
			<if test="introduction != null  and introduction != ''  ">introduction,</if>
			<if test="courseSource != null  and courseSource != ''  ">course_source,</if>
			<if test="businessId != null  and businessId != ''  ">business_id,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="addUserId != null  and addUserId != ''  ">add_user_id,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="updateUserId != null  and updateUserId != ''  ">update_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="trainingType != null  and trainingType != ''  ">#{trainingType},</if>
			<if test="courseType != null  and courseType != ''  ">#{courseType},</if>
			<if test="courseUrl != null  and courseUrl != ''  ">#{courseUrl},</if>
			<if test="videoUrl != null  and videoUrl != ''  ">#{videoUrl},</if>
			<if test="fileUrl != null  and fileUrl != ''  ">#{fileUrl},</if>
			<if test="courseName != null  and courseName != ''  ">#{courseName},</if>
			<if test="businessType != null  and businessType != ''  ">#{businessType},</if>
			<if test="majorType != null  and majorType != ''  ">#{majorType},</if>
			<if test="isTiming != null  and isTiming != ''  ">#{isTiming},</if>
			<if test="isCharge != null  and isCharge != ''  ">#{isCharge},</if>
			<if test="price != null  ">#{price},</if>
			<if test="previewTimes != null  ">#{previewTimes},</if>
			<if test="watchTimes != null  ">#{watchTimes},</if>
			<if test="introduction != null  and introduction != ''  ">#{introduction},</if>
			<if test="courseSource != null  and courseSource != ''  ">#{courseSource},</if>
			<if test="businessId != null  and businessId != ''  ">#{businessId},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="addUserId != null  and addUserId != ''  ">#{addUserId},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="updateUserId != null  and updateUserId != ''  ">#{updateUserId},</if>
         </trim>
    </insert>
	 
    <update id="updateTCourse" parameterType="com.project.web.domian.TCourse">
        update t_course
        <trim prefix="SET" suffixOverrides=",">
            <if test="trainingType != null  and trainingType != ''  ">training_type = #{trainingType},</if>
            <if test="courseType != null  and courseType != ''  ">course_type = #{courseType},</if>
            <if test="courseUrl != null  and courseUrl != ''  ">course_url = #{courseUrl},</if>
            <if test="videoUrl != null  and videoUrl != ''  ">video_url = #{videoUrl},</if>
            <if test="fileUrl != null  and fileUrl != ''  ">file_url = #{fileUrl},</if>
            <if test="courseName != null  and courseName != ''  ">course_name = #{courseName},</if>
            <if test="businessType != null  and businessType != ''  ">business_type = #{businessType},</if>
            <if test="majorType != null  and majorType != ''  ">major_type = #{majorType},</if>
            <if test="isTiming != null  and isTiming != ''  ">is_timing = #{isTiming},</if>
            <if test="isCharge != null  and isCharge != ''  ">is_charge = #{isCharge},</if>
            <if test="price != null  ">price = #{price},</if>
            <if test="previewTimes != null  ">preview_times = #{previewTimes},</if>
            <if test="watchTimes != null  ">watch_times = #{watchTimes},</if>
            <if test="introduction != null  and introduction != ''  ">introduction = #{introduction},</if>
            <if test="courseSource != null  and courseSource != ''  ">course_source = #{courseSource},</if>
            <if test="businessId != null  and businessId != ''  ">business_id = #{businessId},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="addUserId != null  and addUserId != ''  ">add_user_id = #{addUserId},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="updateUserId != null  and updateUserId != ''  ">update_user_id = #{updateUserId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTCourseById" parameterType="String">
        delete from t_course where id = #{id}
    </delete>
	
    <delete id="deleteTCourseByIds" parameterType="String">
        delete from t_course where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 以上是自动生成的代码尽量别动 -->
    
</mapper>