<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.web.mapper.TDictMapper">
    
    <resultMap type="com.project.web.domian.TDict" id="TDictResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="dictName"    column="dict_name"    />
        <result property="dictCode"    column="dict_code"    />
        <result property="dictSort"    column="dict_sort"    />
        <result property="status"    column="status"    />
        <result property="businessId"    column="business_id"    />
        <result property="addUserId"    column="add_user_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectTDictbasicColums">
        select d.id, d.parent_id, d.dict_name, d.dict_code, d.dict_sort, d.status, d.business_id, d.add_user_id, d.create_date, d.update_date, d.update_user_id, d.remark    </sql>
	
    <select id="selectTDictList" parameterType="com.project.web.domian.TDict" resultMap="TDictResult">
        <include refid="selectTDictbasicColums"/>
        from t_dict d
        <where>  
            <if test="id != null  and id != '' "> and d.id = #{id}</if>
             <if test="parentId != null  and parentId != '' "> and d.parent_id = #{parentId}</if>
             <if test="dictName != null  and dictName != '' "> and d.dict_name = #{dictName}</if>
             <if test="dictCode != null  and dictCode != '' "> and d.dict_code = #{dictCode}</if>
             <if test="dictSort != null "> and d.dict_sort = #{dictSort}</if>
             <if test="status != null  and status != '' "> and d.status = #{status}</if>
             <if test="businessId != null  and businessId != '' "> and d.business_id = #{businessId}</if>
             <if test="addUserId != null  and addUserId != '' "> and d.add_user_id = #{addUserId}</if>
             <if test="createDate != null "> and d.create_date = #{createDate}</if>
             <if test="updateDate != null "> and d.update_date = #{updateDate}</if>
             <if test="updateUserId != null  and updateUserId != '' "> and d.update_user_id = #{updateUserId}</if>
             <if test="remark != null  and remark != '' "> and d.parent_id != '0' </if>
         </where>
         ORDER BY d.parent_id asc
    </select>
    
    <select id="selectTDictById" parameterType="String" resultMap="TDictResult">
        <include refid="selectTDictbasicColums"/>
        from t_dict d
        where d.id = #{id}
    </select>
        
    <insert id="insertTDict" parameterType="com.project.web.domian.TDict">
        insert into t_dict
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="parentId != null  and parentId != ''  ">parent_id,</if>
			<if test="dictName != null  and dictName != ''  ">dict_name,</if>
			<if test="dictCode != null  and dictCode != ''  ">dict_code,</if>
			<if test="dictSort != null  ">dict_sort,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="businessId != null  and businessId != ''  ">business_id,</if>
			<if test="addUserId != null  and addUserId != ''  ">add_user_id,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateDate != null  ">update_date,</if>
			<if test="updateUserId != null  and updateUserId != ''  ">update_user_id,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="parentId != null  and parentId != ''  ">#{parentId},</if>
			<if test="dictName != null  and dictName != ''  ">#{dictName},</if>
			<if test="dictCode != null  and dictCode != ''  ">#{dictCode},</if>
			<if test="dictSort != null  ">#{dictSort},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="businessId != null  and businessId != ''  ">#{businessId},</if>
			<if test="addUserId != null  and addUserId != ''  ">#{addUserId},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
			<if test="updateUserId != null  and updateUserId != ''  ">#{updateUserId},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateTDict" parameterType="com.project.web.domian.TDict">
        update t_dict
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null  and parentId != ''  ">parent_id = #{parentId},</if>
            <if test="dictName != null  and dictName != ''  ">dict_name = #{dictName},</if>
            <if test="dictCode != null  and dictCode != ''  ">dict_code = #{dictCode},</if>
            <if test="dictSort != null  ">dict_sort = #{dictSort},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="businessId != null  and businessId != ''  ">business_id = #{businessId},</if>
            <if test="addUserId != null  and addUserId != ''  ">add_user_id = #{addUserId},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            <if test="updateUserId != null  and updateUserId != ''  ">update_user_id = #{updateUserId},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTDictById" parameterType="String">
        delete from t_dict where id = #{id}
    </delete>
	
    <delete id="deleteTDictByIds" parameterType="String">
        delete from t_dict where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
     <update id="updateNotStausTDictByids" parameterType="com.project.web.domian.TDict">
        update t_dict set status =0 ,
        <if test="updateDate != null  "> update_date = #{updateDate},</if>
        <if test="updateUserId != null  and updateUserId != ''  ">  update_user_id = #{updateUserId}</if>
        where id not in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>       
        and dict_code ='car_info' and parent_id != '0'
    </update>
    
    <update id="updateYesStausTDictByids" parameterType="com.project.web.domian.TDict">
        update t_dict set status =1,        
        <if test="updateDate != null  ">  update_date = #{updateDate},</if>
        <if test="updateUserId != null  and updateUserId != ''  ">  update_user_id = #{updateUserId}</if>
         where id  in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        and dict_code ='car_info' 
    </update>
</mapper>