<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.system.tTaskManagement.mapper.TTaskManagementMapper">
    
    <resultMap type="TTaskManagement" id="TTaskManagementResult">
        <result property="id"    column="id"    />
        <result property="eventName"    column="event_name"    />
        <result property="checkUnit"    column="check_unit"    />
        <result property="regulationsDate"    column="regulations_date"    />
        <result property="checkPersonnel"    column="check_personnel"    />
        <result property="deduction"    column="deduction"    />
        <result property="isHandle"    column="is_handle"    />
        <result property="driver"    column="driver"    />
        <result property="handleDate"    column="handle_date"    />
        <result property="plateNum"    column="plate_num"    />
        <result property="insideHandle"    column="inside_handle"    />
        <result property="violationType"    column="violation_type"    />
        <result property="isLearn"    column="is_learn"    />
        <result property="deptId"    column="dept_id"    />
        <result property="illegalInfo"    column="Illegal_info"    />
        <result property="handleInfo"    column="handle_info"    />
        <result property="createTime"    column="create_time"    />
        <result property="userId"    column="user_id"    />
        <result property="remark"    column="remark"    />
        <result property="businessId"    column="business_id"    />
        <result property="updateUserId"    column="update_user_id"    />
    </resultMap>
	
	<sql id="selectTTaskManagementVo">
        select tm.id, tm.event_name, tm.check_unit, tm.regulations_date, tm.check_personnel, tm.deduction, tm.is_handle, tm.driver, tm.handle_date, tm.plate_num, tm.inside_handle, tm.violation_type, tm.is_learn, tm.dept_id, tm.Illegal_info, tm.handle_info, tm.create_time, tm.user_id, tm.remark, tm.business_id, tm.update_user_id from t_task_management tm
    </sql>
	
    <select id="selectTTaskManagementList" parameterType="TTaskManagement" resultMap="TTaskManagementResult">
        <include refid="selectTTaskManagementVo"/>
        <where>  
            <if test="id != null  and id != '' "> and tm.id = #{id}</if>
             <if test="eventName != null  and eventName != '' "> and tm.event_name = #{eventName}</if>
             <if test="checkUnit != null  and checkUnit != '' "> and tm.check_unit = #{checkUnit}</if>
             <if test="regulationsDate != null "> and tm.regulations_date = #{regulationsDate}</if>
             <if test="checkPersonnel != null  and checkPersonnel != '' "> and tm.check_personnel = #{checkPersonnel}</if>
             <if test="deduction != null  and deduction != '' "> and tm.deduction = #{deduction}</if>
             <if test="isHandle != null  and isHandle != '' "> and tm.is_handle = #{isHandle}</if>
             <if test="driver != null  and driver != '' "> and tm.driver = #{driver}</if>
             <if test="handleDate != null "> and tm.handle_date = #{handleDate}</if>
             <if test="plateNum != null  and plateNum != '' "> and tm.plate_num = #{plateNum}</if>
             <if test="insideHandle != null  and insideHandle != '' "> and tm.inside_handle = #{insideHandle}</if>
             <if test="violationType != null  and violationType != '' "> and tm.violation_type = #{violationType}</if>
             <if test="isLearn != null  and isLearn != '' "> and tm.is_learn = #{isLearn}</if>
             <if test="deptId != null  and deptId != '' "> and tm.dept_id = #{deptId}</if>
             <if test="illegalInfo != null  and illegalInfo != '' "> and tm.Illegal_info = #{illegalInfo}</if>
             <if test="handleInfo != null  and handleInfo != '' "> and tm.handle_info = #{handleInfo}</if>
             <if test="createTime != null "> and tm.create_time = #{createTime}</if>
             <if test="userId != null "> and tm.user_id = #{userId}</if>
             <if test="remark != null  and remark != '' "> and tm.remark = #{remark}</if>
             <if test="businessId != null  and businessId != '' "> and tm.business_id = #{businessId}</if>
             <if test="updateUserId != null "> and tm.update_user_id = #{updateUserId}</if>
         </where>
    </select>
    
    <select id="selectTTaskManagementById" parameterType="String" resultMap="TTaskManagementResult">
        <include refid="selectTTaskManagementVo"/>
        where tm.id = #{id}
    </select>
        
    <insert id="insertTTaskManagement" parameterType="TTaskManagement">
        insert into t_task_management
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="eventName != null  and eventName != ''  ">event_name,</if>
			<if test="checkUnit != null  and checkUnit != ''  ">check_unit,</if>
			<if test="regulationsDate != null  ">regulations_date,</if>
			<if test="checkPersonnel != null  and checkPersonnel != ''  ">check_personnel,</if>
			<if test="deduction != null  and deduction != ''  ">deduction,</if>
			<if test="isHandle != null  and isHandle != ''  ">is_handle,</if>
			<if test="driver != null  and driver != ''  ">driver,</if>
			<if test="handleDate != null  ">handle_date,</if>
			<if test="plateNum != null  and plateNum != ''  ">plate_num,</if>
			<if test="insideHandle != null  and insideHandle != ''  ">inside_handle,</if>
			<if test="violationType != null  and violationType != ''  ">violation_type,</if>
			<if test="isLearn != null  and isLearn != ''  ">is_learn,</if>
			<if test="deptId != null  and deptId != ''  ">dept_id,</if>
			<if test="illegalInfo != null  and illegalInfo != ''  ">Illegal_info,</if>
			<if test="handleInfo != null  and handleInfo != ''  ">handle_info,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="businessId != null  and businessId != ''  ">business_id,</if>
			<if test="updateUserId != null  ">update_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="eventName != null  and eventName != ''  ">#{eventName},</if>
			<if test="checkUnit != null  and checkUnit != ''  ">#{checkUnit},</if>
			<if test="regulationsDate != null  ">#{regulationsDate},</if>
			<if test="checkPersonnel != null  and checkPersonnel != ''  ">#{checkPersonnel},</if>
			<if test="deduction != null  and deduction != ''  ">#{deduction},</if>
			<if test="isHandle != null  and isHandle != ''  ">#{isHandle},</if>
			<if test="driver != null  and driver != ''  ">#{driver},</if>
			<if test="handleDate != null  ">#{handleDate},</if>
			<if test="plateNum != null  and plateNum != ''  ">#{plateNum},</if>
			<if test="insideHandle != null  and insideHandle != ''  ">#{insideHandle},</if>
			<if test="violationType != null  and violationType != ''  ">#{violationType},</if>
			<if test="isLearn != null  and isLearn != ''  ">#{isLearn},</if>
			<if test="deptId != null  and deptId != ''  ">#{deptId},</if>
			<if test="illegalInfo != null  and illegalInfo != ''  ">#{illegalInfo},</if>
			<if test="handleInfo != null  and handleInfo != ''  ">#{handleInfo},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="businessId != null  and businessId != ''  ">#{businessId},</if>
			<if test="updateUserId != null  ">#{updateUserId},</if>
         </trim>
    </insert>
	 
    <update id="updateTTaskManagement" parameterType="TTaskManagement">
        update t_task_management
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventName != null  and eventName != ''  ">event_name = #{eventName},</if>
            <if test="checkUnit != null  and checkUnit != ''  ">check_unit = #{checkUnit},</if>
            <if test="regulationsDate != null  ">regulations_date = #{regulationsDate},</if>
            <if test="checkPersonnel != null  and checkPersonnel != ''  ">check_personnel = #{checkPersonnel},</if>
            <if test="deduction != null  and deduction != ''  ">deduction = #{deduction},</if>
            <if test="isHandle != null  and isHandle != ''  ">is_handle = #{isHandle},</if>
            <if test="driver != null  and driver != ''  ">driver = #{driver},</if>
            <if test="handleDate != null  ">handle_date = #{handleDate},</if>
            <if test="plateNum != null  and plateNum != ''  ">plate_num = #{plateNum},</if>
            <if test="insideHandle != null  and insideHandle != ''  ">inside_handle = #{insideHandle},</if>
            <if test="violationType != null  and violationType != ''  ">violation_type = #{violationType},</if>
            <if test="isLearn != null  and isLearn != ''  ">is_learn = #{isLearn},</if>
            <if test="deptId != null  and deptId != ''  ">dept_id = #{deptId},</if>
            <if test="illegalInfo != null  and illegalInfo != ''  ">Illegal_info = #{illegalInfo},</if>
            <if test="handleInfo != null  and handleInfo != ''  ">handle_info = #{handleInfo},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="businessId != null  and businessId != ''  ">business_id = #{businessId},</if>
            <if test="updateUserId != null  ">update_user_id = #{updateUserId},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTTaskManagementById" parameterType="String">
        delete from t_task_management where id = #{id}
    </delete>
	
    <delete id="deleteTTaskManagementByIds" parameterType="String">
        delete from t_task_management where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>